.header {
    padding: 20px 100px;
    border-bottom: 1px #E8F1FB solid;
    text-align: left;

    &__logo {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #1A2533;
        margin-bottom: 7px;
    }

    &__description {
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #6B85A3;
    }
}

@media screen and (max-width: 568px) {
    .header {
        padding: 20px 25px;
    }    
}
